<%- include('partials/header') %>

  <div class="box">
    <form class="" action="/weather" method="post">
      <p>
        <label class="heading" for="cityInput">
          <h1 class="cityName">City Name: </h1>
        </label>
        <input id="cityInput" type="text" name="cityName" autofocus="on">
        <button type="submit" name="button">Go</button>
      </p>
    </form>
  </div>

<%- include('partials/footer') %>
